@import './fonts.scss';
@import './vars.scss';

body, html {
    padding: 0; margin: 0;
    height: 100%;
    font-family: 'Nunito', sans-serif;
    background-color: $blue;
}

#root {
    height: 100%;
}

div, ul {
    box-sizing: border-box;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

h1, p {
    margin: 0; padding: 0;
}

button {
    background: transparent;
    border: none;
    outline: none;
    margin: 0; padding: 0;
}